h1 {
  padding-top: 20px;
  padding-bottom: 8px;
  color: lightslategray;
}

ul {
  margin-left: 280px;
  margin-top: -140px;
}

li {
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
  font-size: large;
  color: lightslategray;
  list-style: none;
}

li strong {
  color: #b153bc;
}

.weather-temperature img {
  margin-left: -30px;
}

.weather-temperature strong {
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
  margin-left: 80px;
  position: relative;
  top: -80px;
}

.units a {
  text-decoration: none;
  position: relative;
  font-size: 20px;
  top: -120px;
}

.container {
  width: 800px;
  margin-top: 38px;
  padding: 60px 80px 180px;
  background: #ffffff;
  border-radius: 20px;
}

.weather-forecast-container {
  margin-top: -80px;
  margin-bottom: 30px;
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
  font-size: medium;
  color: lightslategray;
}

.weather-forecast-day {
  text-align: center;
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
  font-size: medium;
  color: lightslategray;
}

.weather-forecast-icon {
  text-align: center;
  font-size: 38px;
  margin-top: 16px;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: -20px;
}

.weather-forecast-temperatures {
  text-align: center;
  margin-top: 16px;
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
  font-size: medium;
  color: #b153bc;
  display: flex;
  justify-content: center;
}

.weather-forecast-temperature {
  padding: 0 10px;
}

body {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(242, 235, 243) 0%,
    rgb(234, 241, 249) 90.1%
  );
}

.footer {
  font-size: 14px;
  text-decoration: none;
  margin-top: 80px;
  margin-bottom: -240px;
}
